@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

:root {
  --font-family: 'Noto Sans JP', sans-serif;

  --background-default: #E0E0E0;
  --background-default-hover: #AEAEAE; 
  --text-color-default: #3F3F3F;

  --background-disabled: #E0E0E0;
  --text-color-disabled: #9E9E9E;

  --color-variant: #3D5AFE;
  --color-variant-hover: #2962FF1A;
  --color-white: #FFF;

  --background-primary-color: #2962FF;
  --background-primary-color-hover: #0039CB;

  --background-secondary-color: #455A64;
  --background-secondary-color-hover: #1C313A;

  --background-danger-color: #D32F2F;
  --background-danger-color-hover: #9A0007;


}

.Button {
  font-family: var(--font-family);
  font-weight: 500; 
  outline: none;
  border: none;
  padding: 0.8em 1.5em;
  margin: 0 0.5em;
  border-radius: 0.5em;
  box-shadow: 0 2px 3px rgba(51 51 51 / 0.2);
  transition: background 0.2s ease;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

/* Buttons sizes */
.Button--sm {
  padding: 0.375em 0.75em;
}

.Button--md {
  padding: 0.5em 1em;
}

.Button--lg {
  padding: 0.687em 1.3em;
}

/* Button default */
.Button--default {
  background: var(--background-default);
  color: var(--text-color-default);
}

/* Button default hover and focus */
.Button--default:hover, 
.Button--default:focus {
  background: var(--background-default-hover);
}

/* Buttons colors */
.Button--primary {
  color: var(--color-white);
  background: var(--background-primary-color);
}

.Button--primary:hover {
  background: var(--background-primary-color-hover);
}

.Button--secondary {
  color: var(--color-white);
  background: var(--background-secondary-color);
}

.Button--secondary:hover {
  background: var(--background-secondary-color-hover);
}

.Button--danger {
  color: var(--color-white);
  background: var(--background-danger-color);
}

.Button--danger:hover {
  background: var(--background-danger-color-hover);
}

/* Button disable shadow */
.Button--disableShadow {
  box-shadow: none;
}

/* Button disabled */
.Button:disabled {
  background: var(--background-disabled);
  color: var(--text-color-disabled);
}

/* Button outline and text */
.Button--outline,
.Button--text {
  color: var(--color-variant);
  background: transparent;
  box-shadow: none;
}

.Button--outline:hover,
.Button--text:hover {
  background: var(--color-variant-hover);
}

.Button--outline {
  outline: 1px solid var(--color-variant);
}

.Button--text:disabled {
  background: transparent;
}